<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div class="topo">
        <a href="/Home">Home</a>
        <a href="/Contato">Contato</a>
        <a href="/Sobre">Sobre</a>
        <p></p>

    </div>
    <div name="formulario">
        <form action="/Confirmacao" method="GET">
            <label for="NomeForm">Nome: </label><input name="NomeForm" type="text">
            <label for="EmailForm">Email: </label><input name="EmailForm" type="text">
            <label for="MensagemForm">Mensagem: </label><input name="MensagemForm" type="text">

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>

</html>